.navbar{
    width: 100%;
    background-color: #7851a9;
    color: white;
    height: 4em;
}

.logo{
    margin: 0;
    padding: 0;
}

.link{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0em 0.5em;
}

.link:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

.nav-links, .nav-auth{
    display: inline-block;
}

.nav-auth{
    float: right;
}